.joke-container{
    display: block;
    position: relative;
    height: 1000px;
    align-items: center;

}

.joke {
    background-color: aliceblue;
    height: 100px;
    text-align: center;
    padding: 2%;
}

#joke-setup{
    font-family: Lucida;
    font-size: 20px;
    position: relative;
    margin: 2%;
    text-align: center;
}

#joke-delivery {
    font-family: Lucida;
    font-size: 20px;
    margin: 2%;
    padding: 2%;
}

.joke-spinner {
    background: transparent;
    width: 100px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    animation: slide 8s;
    margin-left: 40%;
    margin-right: 40%;
}

#joke-emoji1 {
    font-size: 150%;
    display: flex;
    align-items: center;
    animation: spin 1s linear 0s infinite;
}

#button-joke {
    background-color: pink;
    display: inline-flex;
    position: absolute;
    width: 50%;
    height: auto;
    padding: 2%;
    justify-content: center;
}

.joke-generate {
    display: block;
    width: auto;
    position: relative;
    left: 25%
}

@keyframes slide {
    from{
        transform: translateX(-100%)
    }
    to {
        transform: translateX(100%)
    }
}
@keyframes spin{
    from {
        transform: rotate(0);

    }
    to {
        transform: rotate(359deg);
        
    }
}