ul {
    display: flex;
    align-items: right;
}

li {
    list-style-type: none;
    display: block;
    margin: 10px;
    transition: 0.25s;
}

.navbar-container {
    background-color: aliceblue;
}
